/*
font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Nova Mono', monospace;
 */

body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
    position: relative;
}

body {}

.progress-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999999;
    background: rgba(255, 255, 255, 0.4);
}
.progress-loader-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(0,0,0, 0.1);
}
.progress-loader-spinner i {
    position: relative;
    font-size: 80px;
    left: -40px;
    top: -40px;
}

a {
    color: #BD7435;
    cursor: pointer;
}

.emphasize {
    color: #BD7435;
}

a:hover {
    text-decoration: underline;
    color: #BD7435;
}

h1 {
    font-size: 275%;
    color: #428bca;
    margin-top: 60px;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}

p {
    max-width: 45em;
    font-family: 'Lora', serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

ol li, ul li {
    margin-bottom: 3px;
    max-width: 45em;
}

header {
    margin-bottom: 30px;
}

blockquote {
    font-family: 'Bree Serif', serif;
    max-width: 45em;
}

blockquote em {
    display: inline-block;
    padding-left: 15px;
    font-size: 85%;
    opacity: 0.70;
}

section {
    margin-bottom: 30px;
}

.section-title {
    color: #2a6496;
}
.section-content {

    padding-left: 26px;
    opacity: 0.85;
}

.section-content h4 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #193c5a;
}


.view-title {
    margin-top: 30px;
    margin-bottom: 45px;
}

.view-title h1, .view-title h2, .view-title h3, .view-title h4, .view-title h5{
    margin-top: 0;
    margin-bottom: 0;
}


/*============ MODALS =============*/

.modal-footer.modal-footer-custom {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}


/*============ ANIMATIONS ============*/

.anim-el-slide-right {
  -webkit-transition-property: all;
  -webkit-transition-duration: 800ms;
  -webkit-transition-timing-function: cubic-bezier(0.595, 0.61, 0, 1);
  -webkit-transform: translate(0%, 0px);
  opacity: 1;
  filter: alpha(opacity=100);
}
.anim-el-slide-right.ng-enter {
  -webkit-transform: translate(30%, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.anim-el-slide-right.ng-enter.ng-enter-active {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0%, 0px);
}
.anim-el-slide-right.ng-leave {
  -webkit-transform: translate(0%, 0px);
  opacity: 1;
  filter: alpha(opacity=100);
}
.anim-el-slide-right.ng-leave-active {
  -webkit-transform: translate(30%, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
}

.anim-el-slide-left {
  -webkit-transition-property: all;
  -webkit-transition-duration: 800ms;
  -webkit-transition-timing-function: cubic-bezier(0.595, 0.61, 0, 1);
  -webkit-transform: translate(0%, 0px);
  opacity: 1;
  filter: alpha(opacity=100);
}
.anim-el-slide-left.ng-enter {
  -webkit-transform: translate(-40%, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.anim-el-slide-left.ng-enter.ng-enter-active {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0%, 0px);
}
.anim-el-slide-left.ng-leave {
  -webkit-transition-duration: 0ms;
  display: none;
}
.anim-el-slide-left.ng-leave-active {
  -webkit-transition-duration: 0ms;
  display: none;
}

.anim-fade-in {
  position: relative;
  display: block;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 400ms;
  -webkit-transition-timing-function: cubic-bezier(0.595, 0.61, 0, 1);
  opacity: 1;
}
.anim-fade-in.ng-enter {
  opacity: 0;
}
.anim-fade-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.anim-fade-in.ng-leave {
  -webkit-transition-duration: 0ms;
  display: none;
  position: absolute;
  opacity: 0;
}
.anim-fade-in.ng-leave-active {
  -webkit-transition-duration: 0ms;
  display: none;
  position: absolute;
  opacity: 0;
}

/*============ BUTTONS ============*/

.btn-full-width {
    width: 100%;
}


/*============ FORMS ============*/

.form-section {
    margin-bottom: 15px;
}
.form-section label {
    font-size: 125%;
}

.empty-stuff {
    border: 3px dashed #ddd;
    text-align: center;
    color: #888;
    padding: 15px;
}

.control-box {
    margin-top: 15px;
    margin-bottom: 30px;
}

.ml-schemes-test-container {
    margin-top: 30px;
}


ml-scheme-item {
    display: block;
    background: rgba(0,0,0, 0.05);
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.ml-scheme-item-title {
    font-size: 24px;
}
.ml-scheme-item-controls .btn {
    margin-left: 5px;
}

.example-string {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    color: #AAA;
    font-family: 'Source Code Pro', monospace;
}
.example-string i {
    opacity: 0.4;
}
.example-string-has-change .example-string-after{
    color: #428bca;
}

ml-main {
    display: block;
    padding-bottom: 400px;
}


ml-scheme-transform {
    display: block;
    background: rgba(0,0,0, 0.05);
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 5px;
}
ml-scheme-transform textarea {
    width: 100%;
}

.ml-edit-scheme-refresh {
    font-size: 125%;
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s ease-in-out;
          transition:         transform .2s ease-in-out;
}

.ml-edit-scheme-percent-change.progress {
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.4);
}
.progress-bar {
    -webkit-transition: width .2s cubic-bezier(0.595, 0.61, 0, 1);
    transition: width .2s cubic-bezier(0.595, 0.61, 0, 1);
}

.ml-edit-scheme-refresh:hover {
    color: #428bca;
    -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.ml-edit-scheme-refresh:active {
    -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ml-scheme-transform-error i {
    color: #BD7435;
}


.ml-schemes-test-instructions {
    font-size: 18px;
}

.ml-schemes-test-instructions h3 {
    margin-top: 15px;
    margin-bottom: 30px;
}

.ml-schemes-test-instructions li {
    margin-bottom: 20px;
}

.ml-schemes-test-instructions .btn {
    margin-top: 15px;
}

.ml-schemes-test-answers {
    text-align: center;
}
.ml-schemes-test-answers .btn.btn-lg {
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px 85px;
    font-size: 24px;
    position: relative;
}
.ml-schemes-test-answers .btn i {
    position: absolute;
    top: 99px;
    left: 50%;
    margin-left: -18px;
    font-size: 40px;
    color: #c9302c;
}
.ml-schemes-test-answers .btn.btn-success i {
    color: #3c763d;
}

.ml-schemes-test-question .well {
    margin-top: 30px;
    padding: 30px;
    font-size: 68px;
    text-align: center;
    opacity: 0.9;
    position: relative;
    overflow: hidden;
}

.ml-schemes-test-question-transition {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.1);

    -webkit-transition-property: all;
    -webkit-transition-duration: 1000ms;
    -webkit-transition-timing-function: cubic-bezier(0.595, 0.61, 0, 1);
    -webkit-transform: translate(0%, 0px);
    opacity: 1;
}
.ml-schemes-test-question-transition.transition-success {
    background: rgba(92,184,92, 0.3);
}
.ml-schemes-test-question-transition.transition-danger {
    background: rgba(217,83,79, 0.3);
}


.ml-schemes-test-question-transition.ng-enter {
  -webkit-transform: translate(-100%, 0px);
  opacity: 0;
}
.ml-schemes-test-question-transition.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translate(0%, 0px);
}
.ml-schemes-test-question-transition.ng-leave {
  -webkit-transition-duration: 0ms;
  display: none;
}
.ml-schemes-test-question-transition.ng-leave-active {
  -webkit-transition-duration: 0ms;
  display: none;
}

.ml-schemes-test-question-string {
    z-index: 2;
    font-family: 'Source Code Pro', monospace;
}

.ml-report-table {
    font-size: 26px;
    color: #428bca;
}

.ml-report-label {
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

ml-schemes-test-report-graph {
    display: block;
}

.ml-report-graph {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.axes-area .axis path {
    fill: none;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axes-area .axis.y path {
    stroke: #428bca;
    stroke-width: 2;
}
.axes-area .axis.y line {
    stroke: #428bca;
}
.axes-area .axis.y text {
    fill: #428bca;
}

.axes-area .axis.x path {
    stroke: rgba(0,0,0, 0.6);
}
.axes-area .axis.x line {
    stroke: rgba(0,0,0, 0.6);
}
.axes-area .axis.x text {
    fill: rgba(0,0,0, 0.6);
}

.axis.y-percent path {
    stroke: #BD7435;
}
.axis.y-percent line {
    stroke: #BD7435;
}
.axis.y-percent text {
    fill: #BD7435;
}

.legend {
    margin-top: 15px;
    text-align: center;
}
.legend-item {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}
.legend-item-score {
    color: #428bca;
}
.legend-item-interval-percent {
    color: #BD7435;
}